<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">

      <h2 class="text-center">Post a question</h2>
      <br/>

      <%= form_for @question do |f| %>
           <%= render "shared/message" %>

        <div class="form-group">
          <%= f.text_field :title, autofocus: true, placeholder: "Title", class: "form-control" %>
        </div>

        <div class="form-group">
           <%= md_simple_editor  do %>
              <%= f.text_area :body, autofocus: true, :rows => 6, style: 'width:100%;', placeholder: "Description", class: "form-control" %>
           <% end %>    
        </div>

        <div class="actions">
          <%= f.submit "¡Ask!", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>

    <div/>
  </div>
</div>
