<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Questions</h1>
    </div>
  </div>
  <div class= "questions"> <!-- begin questions-->
     <div class="row">
          <div class="question clearfix">
              <div class="col-sm-10 col-sm-offset-1 button-ask-question">
                <div class="button-ask-question">
                  <%=  link_to "Ask a question", new_question_path, :method => :get, class: "btn btn-primary" %>
                </div>
              </div>
          </div>
     </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1"> <!-- begin col-sm-10-->
      <hr>
        <% unless @questions.nil? %>
            <% @questions.each do |question| %>
               <div class="question-details">
                <div class="row"> <!-- begin row -->
                  <div class="col-sm-1 data"><!-- begin col-1-->
                    <span>10</span>
                    <span><h5 class="data-label">Votes</h5></span>
                  </div> <!-- end col-1-->
                  <div class="col-sm-1 data"><!-- begin col-2-->
                    <span>15</span>
                    <span><h5 class="data-label">Answers</h5></span>
                  </div> <!-- end col.2-->
                  <div class="col-sm-10"> <!-- begin cols-2-->
                    <h2 class="question-title"><%= link_to question.title, question %></h2>
                      Asked: <%= question.user.fullname %> <%= time_ago_in_words(question.created_at) %>
                  </div><!-- end cols-3-->
                </div>  <!-- end row -->
               </div>
               <hr>
            <% end %>
            <%= paginate(@questions) %>
        <% end %>
        <br>
      </div> <!-- end col-sm-10-->
    </div>
  </div> <!-- end questions-->
  <br>
</div>
