<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

       <%= render "shared/message" %>

       <p>
         <h2><%= @question.title %></h2>
       </p>
       <div class="body-text">
         <span><%= markdown(@question.body) %></span>
       </div>
      <hr>
       <%= render partial: "comments/comments", locals: {commentable: @question} %>
       <% if signed_in? %>
           <%= render partial: "comments/form", locals: {commentable: @question} %>
       <% end %>
   </div>
  </div>
</div>
