<div class="container">
	<div class="row">
	  <div class="col-sm-8 col-sm-offset-1">
      <h2 class="title-question"><%= @question.title %></h2>
	  </div>
	</div>
  <div class="questions">
  <%  unless user_signed_in? %>
	 <div class="row">
	   <div class="col-sm-1 col-sm-offset-1">
       <div class="question-upvote upvote-active">
        <span class="upvote-arrow"></span>
        <span class="upvote-count"> <%= @question.votes.count %> </span>
       </div>
     </div>
	  <div class="col-sm-8 body-show-question">
       <span> <%= markdown(@question.body) %> </span>
	  </div>
	</div>
  </div><!-- end questions -->
  <div class="row">
		 <div class="col-sm-1 col-sm-offset-1">
		 </div>
   <div class="col-sm-8 comments_signout" >
     	<span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @question} %> </span>
   </div>
	</div>
<% else %>
 <% vote = Vote.voted_by?(current_user,  @question) %>
  <div class="row">
     <div class="col-sm-1 col-sm-offset-1">
       <% if vote %>
          <%= link_to question_vote_path(@question, vote), method: :delete, class: "question-upvote upvote-active" do %>
            <span class="upvote-arrow"></span>
            <span class="upvote-count"><%= @question.votes.count %></span>
          <% end %>
       <% else %>
        <%= link_to question_votes_path(@question), method: :post, class: "question-upvote" do %>
           <span class="upvote-arrow"></span>
           <span class="upvote-count"><%= @question.votes.count %></span>
        <% end %>
      <% end %>
    </div>
		<div class="col-sm-8 body-show-question" >
       <span><%= markdown(@question.body) %></span>
       <span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @question} %> </span>
      <%= render partial: "comments/form", locals: {commentable: @question} %>
	  </div>
  </div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-1">
			<div><h2>(<%= @question.answers.count %>) Respuesta(s)</h2></div>
			<span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @answer} %> </span>
			  <%= render partial: "answers/form", locals: {question: @question} %>
		</div>
		<div class="row">
			 <div class="col-sm-8 body-show-question" >
				 <%  @answers_question.each do |aq| %>
						 <span ><%= markdown(aq.body) %></span>
							<br>
				 	<% end %>
			 </div>
		</div>
	</div>
<% end %>
</div>
