<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>
        <h2 class="title-question"><%= @question.title %></h2>
      </p>

       <%= render "shared/message" %>

       <div class= "questions">
        <%  unless user_signed_in? %>
          <div class="question clearfix">
            <span class="upvote-arrow"></span>
            <span class="upvote-count"><%= @question.votes.count %></span>
            <div class="">
                <span><%= markdown(@question.body) %></span>
            </div>
                <span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @question} %> </span>
          </div>
        <% else %>
          <% vote = Vote.voted_by?(current_user,  @question) %>
             <% if vote %>
                <%= link_to question_vote_path(@question, vote), method: :delete, class: "question-upvote upvote-active" do %>
                  <span class="upvote-arrow"></span>
                  <span class="upvote-count"><%= @question.votes.count %></span>
                <% end %>
            <div class="question clearfix">    
             <% else %>
                <%= link_to question_votes_path(@question), method: :post, class: "question-upvote" do %>
                  <span class="upvote-arrow"></span>
                  <span class="upvote-count"><%= @question.votes.count %></span>
                <% end %>
             <% end %>
                <div class="">
                  <span><%= markdown(@question.body) %></span>
                </div>
            </div>
            <span class="comments"> <%= render partial: "comments/comments", locals: {commentable: @question} %> </span>
            <%= render partial: "comments/form", locals: {commentable: @question} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
